<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>members_only</title>
</head>

<body>

  <% if (currentUser) { %>
    <h1>Welcome <%= currentUser.username %>!</h1>
    <% if (currentUser.is_member) { %>
      <p>Verified member ✅</p>
  <%  } %>
  <% } else {%>
    <h1>Welcome!</h1>
 <% } %>
    
    <% if (currentUser) { %>
      <% if (currentUser.is_member === false)  { %>
         <a href="/membership-form">Become a member</a>
    <%  } %>
  <% } %>

 

  <% if (!currentUser) { %>
    <a href="/log-in">log in</a>
  <% } %>

  <% if (!currentUser) { %>
    <a href="/sign-up">sign-up</a>
  <% } %>

  <% if (currentUser) { %>
    <form action="/log-out" method="post">
      <button>logout</button>
    </form>
  <% } %>
</body>

</html>
