<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (currentUser) { %>
        <h1>Welcome <%= currentUser.username %></h1>
   <% } %>
    

    <a href="/log-in">log in</a>
    <a href="/sign-up">sign-up</a>
    <form action="/log-out" method="post">
        <button>logout</button>
    </form>
</html>