<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="cornflowerblue">
    <title>members_only</title>
    <link rel="stylesheet" href="/styles.css">
    
</head>

<body>
    <%- include('navbar', {navbarLinks:navbarLinks}) %>
        <form action="/log-in" method="post" class="login-form">
            <h2 class="login-form-text">LOGIN FORM</h2>
            <div class="form-div">
                <label for="username">username</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="form-div">
                <label for="password">password</label>
                <input type="password" id="password" name="password">
            </div>

            <button type="submit" class="login-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="lucide lucide-log-in-icon lucide-log-in">
                    <path d="m10 17 5-5-5-5" />
                    <path d="M15 12H3" />
                    <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
                </svg> LOG IN</button>
            <%- include("partials/errors.ejs") %>

                <p>Dont have an account? <a href="/sign-up" class="form-sign-up-link">sign up?</a></p>

        </form>
</body>

</html>