<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>members_only</title>
</head>

<body>
    
    <form action="/membership-form" method="post">
        <div>
            <label for="membership-password" >Enter membership password</label>
            <input type="text" name="membership-password" id="membership-password"">
        </div>
        <button type="submit">JOIN MEMBERSHIP</button>
    </form>

  <% if (!currentUser) { %>
    <a href="/log-in">log in</a>
  <% } %>

  <% if (!currentUser) { %>
    <a href="/sign-up">sign-up</a>
  <% } %>

  <% if (currentUser) { %>
    <form action="/log-out" method="post">
      <button>logout</button>
    </form>
  <% } %>
</body>

</html>
