<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>members_only</title>
  </head>

  <body>
    <form action="/sign-up" method="post">
      <div>
        <label for="username">username *</label>
        <input type="text" id="username" name="username" />
      </div>
      <div>
        <label for="email">email *</label>
        <input type="email" id="email" name="email" />
      </div>
      <div>
        <label for="password">password *</label>
        <input type="password" id="password" name="password" />
      </div>

      <div>
        <label for="admin-password">Make admin password?</label>
        <input
          type="admin-password"
          id="admin-password"
          name="admin-password"
        />
      </div>

      <div>
        <label for="is-admin">Is admin?</label>
        <input type="checkbox" name="is_admin" id="is_admin" />
      </div>

      <button type="submit">SEND</button>
    </form>
  </body>
</html>
