/* css reset  */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* colors */
  --primary-color: cornflowerblue;
  --text-color: white;
  --secondary-color: white;
  --third-color: rgb(26, 24, 24);
  --verified-color: green;
  --admin-color: goldenrod;
  --fourth-color: rgb(41, 39, 39);
  --fifth-color: rgb(60, 58, 58);
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins.ttf");
}

body {
  font-family: "poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(24, 23, 23);
  color: var(--text-color);
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.6rem;
  padding: 0.5rem;
}

nav li {
  text-decoration: none;
}

.logo a {
  font-size: clamp(1.6rem, 3.2vw, 2.4rem);
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 800;
}

.logo a svg {
  display: inline-block;
  vertical-align: middle;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

nav a {
  font-size: clamp(1.2rem, 2.6vw, 1.4rem);
  font-weight: 400;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 250ms;
}

nav a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.logout-button {
  cursor: pointer;
  border-radius: 0.5rem;
  width: 7rem;
  height: 2.5rem;
  border: 2px solid var(--third-color);
  font-weight: 600;
}

.welcome-heading {
  margin: 0.6rem;
}

.username {
  text-decoration: underline;
}

.verified-badge {
  width: 7rem;
  height: fit-content;
  padding: 0.3rem;
  background-color: var(--verified-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.admin-badge {
  width: 7rem;
  height: fit-content;
  padding: 0.3rem;
  background-color: var(--admin-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.welcome-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.heading-and-buttons-hero-section {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3.5rem;
}

.main-heading {
  font-size: clamp(3rem, 4vw, 3.5rem);
  font-weight: 800;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.secondary-heading {
  font-size: clamp(1.7rem, 3.2vw, 1.7rem);
  margin-bottom: 2.5rem;
  font-weight: 400;
  opacity: 0.9;
}

.create-letter-button,
.join-membership-button {
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 1rem;

  color: var(--text-color);
  border-radius: 1rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.letter-instance {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  background-color: var(--fourth-color);
  margin: 2rem auto;
  border-radius: 1.5rem;
  padding: 1rem;
  height: 10rem;
}

.author {
  text-align: center;
  color: var(--primary-color);
  font-weight: 600;
  font-size: clamp(2rem, 3vw, 2.2rem);
}

.letter-text {
  text-align: center;
  font-weight: 100;
  font-size: clamp(1.2rem, 2.5vw, 1.2rem);
}

.letter-time {
  text-align: center;
  font-size: clamp(0.7rem, 1.5vw, 0.8rem);
  opacity: 0.8;
}

.letter-buttons {
  position: absolute;
  right: 1.5%;
  bottom: 73%;
}

.del-button {
  cursor: pointer;
  font-weight: 400;
  border-radius: 0.5rem;
  border: 2px solid var(--secondary-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--fourth-color);
  width: 33%;
  margin: auto;
  margin-top: 5rem;
  height: 25rem;
  padding: 1rem;
  border-radius: 2rem;
}

.form-div {
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 70%;
}

input {
  height: 3rem;
  border-radius: 0.8rem;
  border: 2px solid var(--fifth-color);
  background-color: var(--fifth-color);
  color: var(--text-color);
  width: 100%;
  margin: auto;
}

label {
  font-weight: 400;
}

.form-sign-up-link {
  color: var(--primary-color);
}

.login-form-text {
  font-weight: 500;
}

.login-button {
  width: 70%;
  height: 14%;
  border-radius: 1rem;
  cursor: pointer;
}

.create-letter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--fourth-color);
  width: 36%;
  margin: auto;
  margin-top: 5rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 2rem;
}

.send-letter-button {
  width: 70%;
  height: 18%;
  border-radius: 1rem;
  cursor: pointer;
}

.create-letter-form-div {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text {
  color: var(--text-color);
  resize: none;
  height: 7rem;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--fifth-color);
  border: 2px solid var(--fifth-color);
}

.membership-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  height: 17rem;
  background-color: var(--fourth-color);
  margin-top: 7rem;
}

.new-letter-heading {
  font-weight: 400;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
}

.membership-form-heading {
  font-weight: 400;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
}

#membership-password {
  background-color: var(--fifth-color);
}

.membership-join-button {
  height: 25%;
  width: 20rem;
  font-weight: 400;
  border-radius: 1rem;
}

.membership-form-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
}

.sign-up-heading {
  font-weight: 400;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: auto;
  padding: 1rem;
  background-color: var(--fourth-color);
  gap: 1rem;
  border-radius: 1rem;
}

.signup-form input {
  background-color: var(--fifth-color);
}

.signup-form-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
}

#is-admin {
  height: 2rem;
}

.is-admin-div {
  gap: 0;
  flex-direction: row;
}

.is-admin-label {
  width: 70%;
}

.inner-is-admin-div {
  align-items: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  height: 3rem;
}

.signup-button {
  width: 50%;
  height: 3.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

/* mobile media query */

@media (max-width: 480px) {
  .welcome-div {
    margin: 1rem;
  }

  .welcome-heading {
    font-size: 1.3rem;
  }

  .heading-and-buttons-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-top: 2.5rem;
  }

  .main-heading {
    text-align: start;
    font-size: 1.9rem;
    width: 100%;
  }

  .secondary-heading {
    font-size: 1.2rem;
    font-weight: 200;
    width: 100%;
    text-align: start;
  }

  .letters-container {
    padding: 1rem;
    margin: auto;
    width: 100%;
  }
  .letter-instance {
    gap: 1rem;
    width: 100%;
    height: fit-content;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .create-letter-button,
  .join-membership-button {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .create-letter-form,
  .membership-form,
  .signup-form,
  .login-form {
    margin-top: 5rem;
    width: 90%;
  }

  .create-letter-form-div,
  .membership-form-div,
  .signup-form-div,
  .form-div {
    width: 90%;
  }

  .signup-form {
    margin-top: 5rem;
  }
}

/* //tablet media query */

@media (max-width: 900px) and (orientation: portrait) {
  .welcome-heading,
  .heading-and-buttons-hero-section {
    margin: 1rem;
    text-align: center;
  }

  .letters-container {
    padding: 1.5rem;
    margin: auto;
    width: 100%;
  }
  .letter-instance {
    gap: 1rem;
    width: 100%;
    height: fit-content;
  }

  .create-letter-button,
  .join-membership-button {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .create-letter-form,
  .membership-form,
  .signup-form,
  .login-form {
    margin-top: 6rem;
    width: 90%;
  }

  .create-letter-form-div,
  .membership-form-div,
  .signup-form-div,
  .form-div {
    width: 90%;
  }

  .signup-form {
    margin-top: 5rem;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .welcome-heading,
  .heading-and-buttons-hero-section {
    margin: 1rem;
    text-align: center;
  }

  .letters-container {
    padding: 1.5rem;
    margin: auto;
    width: 100%;
  }
  .letter-instance {
    gap: 1rem;
    width: 80%;
    height: fit-content;
  }

  .create-letter-button,
  .join-membership-button {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .create-letter-form,
  .membership-form,
  .signup-form,
  .login-form {
    margin-top: 10rem;
    width: 70%;
  }

  .create-letter-form-div,
  .membership-form-div,
  .signup-form-div,
  .form-div {
    width: 90%;
  }

  .signup-form {
    margin-top: 5rem;
  }
}